AddType text/x-component .htc
<IfModule mod_rewrite.c>
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>

Options +FollowSymLinks
RewriteEngine on
Redirect       301 /rjl http://rjcase.spalding.edu