#debug-kit-toolbar {
	z-index: 999999999999999999999999999999999999999999999999999999999999 !important;
}
#navHeader {

}
.navHeader{
	background-color: #00c453;
	top: 35px;
	z-index: 999999999999999;
}

.navbar {
	position: absolute;
	width: 100%;
	border: none !important;
}
.navHeader-absolute {
	position: absolute;
}

.navbar-fixed-top {
	top:0;
	position: fixed;
}
.shareBarHeader {
	position: relative;
	left: 65%;
	top: 7px;
	float: left;
	width: 300px;
}

.fb-like {
	margin-left: 0 !important;
	top: -5px !important;
}
.twitter-follow {
	float: left;
}

/*
.logo img{
	position: fixed;
	top: 3px;
	left: 0;
	z-index: 99999999999999999999;
	max-height: 120px;
	height: auto;
	max-width: 260px;
}
*/

.mainBody {
	float: left;
	margin: 0 auto;
}

#slider {
	margin: 115px 0 0 0;
}

.container {
	margin-right: 0 !important;
	margin-left: 0 !important;
	width: 900px;
	position: relative;
	float: right;
}

.navbar-header, .navbar-nav {
	float: left;
}

.navbar-nav li a {
	font-family: Proxima-Nova,Helvetica,Arial,sans-serif;
}

.navTop {
	height: 50px;
	width: 100%;
	position: fixed;
	z-index: 10;
	background-color: white;
	top: 0;
}

.anchor {
	position: absolute;
	top: 35px;
}

.logoImage {
	 position: absolute;
	 top: 3px;
	 left:  17px;
	 z-index: 99999999999999999999999999999999999;
	 max-width: 85px;
	 height: auto;
}

.logoText {
	position: absolute;
	top: -10px;
	left: 81px;
	z-index: 99999999999999999999999999999999999;
	max-width: 218px;
	height: auto;
}



.logoImageScroll {
	display: none;
}

.logoTextScroll {
	left: 17px;
	top: -45px;
	position: fixed;
}

.nav li a, .sliderImages div a {
	cursor: pointer;
}

.nav li a  {
	font-size: 16px;
	font-weight: 600;
	color:white;
}

.nav li a:hover  {
	background-color: #6E6E6E!important;
	box-shadow:  inset 6px 0 4px -4px #222 , inset -6px 0 4px -4px #222;
}

li.active {
	background-color: #6E6E6E !important;
	box-shadow:  inset 6px 0 4px -4px #222 , inset -6px 0 4px -4px #222;
}

li.active a {
	color: white !important;
}

.logoShadow {
	padding: 25px 19px;
	position: absolute;
	/* max-width: 85px; */
	top: 36px;
	left: 41px;
	box-shadow: inset 6px 0 9px -5px #5E5C54, inset -9px 0 6px -5px #5E5C54,15px 0 14px -5px #5E5C54, -18px 0 11px -3px #5E5C54;
	/* height: 52px; */
	z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}

.navbar-collapse {
	float: right;
	padding-left: 0 !important;
	padding-right:  0 !important;
}

@media (max-width: 995px) {
	.container {
		display: none;
	}
}