#debug-kit-toolbar {
	display: none;
}
#navHeader {

}
.navHeader{
	background-color: #00c453;
	margin: 35px 0 20px 0;

	z-index: 999999999999999;
}
.navHeader-fixed {
	margin:0 0 20px 0;
}
.shareBarHeader {
	position: relative;
	left: 65%;
	top: 7px;
	float: left;
	width: 300px;
}

.fb-like {
	margin-left: 0 !important;
	top: -5px !important;
}
.twitter-follow {
	float: left;
}
a {
	color: white;
}
/*
.logo img{
	position: fixed;
	top: 3px;
	left: 0;
	z-index: 99999999999999999999;
	max-height: 120px;
	height: auto;
	max-width: 260px;
}
*/

.mainBody {
	float: left;
	margin: 0 auto;
}

#slider {
	margin: 115px 0 0 0;
}

.container {
	margin-right: 0 !important;
	margin-left: 0 !important;
	width: 700px;
	position: relative;
	float: right;
}

.navbar-header, .navbar-nav {
	float: left;
}

.navbar-nav li a {
	font-family: Proxima-Nova,Helvetica,Arial,sans-serif;
}

.navTop {
	height: 50px;
	width: 100%;
	position: fixed;
	z-index: 10;
	background-color: white;
	top: 0;
}

.anchor {
	position: absolute;
	top: 35px;
}

.logoImage {
	 /*background-image: url('/rjlweb/app/webroot/images/rjl-logo-highres.png');*/
	 position: fixed;
	 top: 3px;
	 left:  17px;
	 z-index: 99999999999999999999999999999999999;
	 max-width: 85px;
	 height: auto;
}

.logoText {
	position: fixed;
	top: -10px;
	left: 81px;
	z-index: 99999999999999999999999999999999999;
	max-width: 218px;
	height: auto;
}