<!-- <div ng-bind-html="template"></div>
<script type="text/javascript" src="/rjlBundle/js/mainSlider.js"></script> -->

<div class='mainContent'>

        
    <div class="slider">
        <a href="#" class="control_nextSlide"><span></span></a>
        <a href="#" class="control_prevSlide"></a>
        <div class="slideContainer">
            <ul class="slideList">
                <li class="slide slide1">
                    <a class="slideOverlay" href="GetInvolved/volunteer"></a>
                     <div class="mainSlideWrapper">
                         <div class='mainSlideContent'>
                            <h1 class="mainSlideHeader">Become a Volunteer</h1>
                            <p class="mainSlideMessage">Fill out a short form and get involved with RJL!</p>
                            <div class="shareWrapper">
                                 <ul class="soc shareThis sliderShare">
                                    <li><a class="soc-twitter" href="https://twitter.com/intent/tweet?url=http://rjlou.org"></a></li>
                                    <li><a class="soc-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://rjlou.org"></a></li>
                                    <li><a class="soc-google" href="https://plus.google.com/share?url=http://rjlou.org"></a></li>
                                    <li><a class="soc-linkedin soc-icon-last" href="http://www.linkedin.com/shareArticle?mini=true&url=http://rjlou.org"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
	<div class="row mainContainer">
		<div id="contentContainer" class="col-md-8 center">
                <div class="divider center"><h1>Transforming Communities By Ending Crime</h1></div>
    			<div class="contentWrapper"> 
                    <image-gallery></image-gallery>
                </div>  
			<div class ="col-md-4 footerPad"></div>
		</div>
	</div>
</div>