<div class="col-md-8">
    <h3 class="headerText">Get Involved with Our Organization</h3>
    <div class="module">
        <ul class="imageItems">
            <li class="col-6 slide">
                <div class="relative">
                    <div class="gradient"></div>
                    <a class="overlay" href="/GetInvolved/facilitator"></a>
                    <img class='img-responsive ' src="app/webroot/images/facilitatorNew.jpg" >
                    <div class='slideContent'>
                        <h4 class="slideHeader">Become a Faciliator</h4>
                        <p class="slideMessage">Get involved and make a difference in your community!</p>
                        <div class ="shareItems">
                            <ul class="soc shareThis shareHide">
                                <li><a class="soc-twitter" href="https://twitter.com/intent/tweet?url=http://rjlou.org"></a></li>
                                <li><a class="soc-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://rjlou.org"></a></li>
                                <li><a class="soc-google" href="https://plus.google.com/share?url=http://rjlou.org"></a></li>
                                <li><a class="soc-linkedin soc-icon-last" href="http://www.linkedin.com/shareArticle?mini=true&url=http://rjlou.org"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>  
            </li>
            <li class="col-6 slide">
                <div class="relative">
                    <div class="gradient"></div>
                    <a class="overlay" href="http://www.razoo.com/story/Restorative-Justice-Louisville"></a>
                    <img class='img-responsive'src="app/webroot/images/donateKeyboard.jpg">
                    <div class='slideContent'>
                        <h4 class="slideHeader">Donate to RJL</h4>
                        <p class="slideMessage">Donate online and help us reach our goals!</p>
                        <div class ="shareItems">
                            <ul class="soc shareThis shareHide">
                                <li><a class="soc-twitter" href="https://twitter.com/intent/tweet?url=http://rjlou.org"></a></li>
                                <li><a class="soc-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://rjlou.org"></a></li>
                                <li><a class="soc-google" href="https://plus.google.com/share?url=http://rjlou.org"></a></li>
                                <li><a class="soc-linkedin soc-icon-last" href="http://www.linkedin.com/shareArticle?mini=true&url=http://rjlou.org"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>  
            </li>
        </ul>
        <ul class="imageItems">
            <li class="col-6 slide">
                <div class="relative">
                    <div class="gradient"></div>
                    <a class="overlay" href="/GetInvolved/events"></a>
                    <img class='img-responsive ' src="app/webroot/images/events.jpg">
                    <div class='slideContent'>
                        <h4 class="slideHeader">Keep Up With Our Events</h4>
                        <p class="slideMessage">Don't miss our next event!</p>
                        <div class ="shareItems">
                            <ul class="soc shareThis shareHide">
                                <li><a class="soc-twitter" href="https://twitter.com/intent/tweet?url=http://rjlou.org"></a></li>
                                <li><a class="soc-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://rjlou.org"></a></li>
                                <li><a class="soc-google" href="https://plus.google.com/share?url=http://rjlou.org"></a></li>
                                <li><a class="soc-linkedin soc-icon-last" href="http://www.linkedin.com/shareArticle?mini=true&url=http://rjlou.org"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>   
            </li>
            <li class="col-6 slide" data-page-name="video" data-url="/GetInvolved/video">
                <div class="relative">
                    <div class="gradient"></div>
                    <a class="overlay" href="/GetInvolved/video/"></a>
                    <img class='img-responsive'src="app/webroot/images/rjlvid.jpg">
                    <div class="playButton"></div>
                    <div class='slideContent'>
                        <h4 class="slideHeader">Watch Our Videos</h4>
                        <p class="slideMessage">See what real victims have to say about the program!</p>
                        <div class ="shareItems">
                            <ul class="soc shareThis shareHide">
                                <li><a class="soc-twitter" href="https://twitter.com/intent/tweet?url=http://rjlou.org"></a></li>
                                <li><a class="soc-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://rjlou.org"></a></li>
                                <li><a class="soc-google" href="https://plus.google.com/share?url=http://rjlou.org"></a></li>
                                <li><a class="soc-linkedin soc-icon-last" href="http://www.linkedin.com/shareArticle?mini=true&url=http://rjlou.org"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>   
            </li>
        </ul>
    </div>
</div>