body {
	background-color: #D8D8D8;
}

a{
	color: #6E6E6E;
	text-decoration: none;
}

a:hover {
	color: #6E6E6E;
}

textarea {
    width: 95%;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

legend {
	text-transform:uppercase;
}

button:focus {
	outline:0 !important;
}

.container {
	background-color: white;
	padding: 0px;
	box-shadow: box-shadow: 0 0 12px 12px black;
}

.text-center img {
	margin: 10px;
}

.nav-tabs  {
    background-color: white;
	padding-left: 5px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: white;
    background-color:#00c453;
	font-weight: normal;
}

.nav-tabs > li > a:hover{
	background-color: #E6E6E6;
	font-weight: normal;
}
.nav-tabs > li.dropdown.open > a:focus  {
	background-color: #6E6E6E;
	color: white;
}

.message {
	background-color:#00c453;
	width: 350px;
	text-align: center;
	color: white;
	box-shadow: 3px 3px 5px #6E6E6E;
	vertical-align: middle;
	border:3px double #00c453;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	margin-bottom: 10px;
}

table {
	border-bottom: solid 1px #A4A4A4;
	border-right: solid 1px #A4A4A4;
	border-radius: 3px;
	border-collapse: separate;
	width: 100%;
	background-color: white;
}

.table {
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.view tr:first-child th:first-child {
    border-top-left-radius: 3px;
}
.view tr:first-child th:last-child {
    border-top-right-radius: 3px;
}
.view tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}
.view tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}


.smBox {
	width: 75px !important;
}

.view th {
	border: solid 1px #A4A4A4; 
}

td {
	border-left: solid 1px #A4A4A4;
}

th, 
th a, 
th a:hover {
	color: white;
	background-color: #6E6E6E;
	text-align: center; 
	border: solid 1px #A4A4A4; 
}


.fg-toolbar {
	background-color: #424242 !important;
	border-color: #424242 !important;
}

tr:nth-of-type(even) { 
	background-color:#E6E6E6; 
}

.left {
    width: 20%;
    text-align: right;
	background-color: #848484;
	color: white;
	border: 0px;
	padding-right: 5px;
}
.right, .right p {
    width: 80%;
	background-color: #D8D8D8;
	border: 0px;
	vertical-align: middle;
	margin: 0;
	padding-left: 5px;
}

.checkbox {
	margin-top: 30px;
}

.holder {
	border: 0px;
	border-spacing: 7px;
	width: 100%;
}

.fileL {
	border: 0px !important;
	padding-right: 10px;
	vertical-align: top;
	width: 60%;
}

.fileR {
	padding-left: 15px;
	vertical-align: top;
	border-top: 0px !important;
	border-right: 0px !important;
	border-bottom: 0px !important;
}


.greycaret {
	border-top-color: #6E6E6E !important;
	border-bottom-color: #6E6E6E !important;
}

.main {
	margin-left: auto;
	margin-right: auto;
	width: 90%
}
ul.inline li{    
	display: inline;
}

#footer, #footer a {
	background-color: #00c453;
	width: 100%;
	height: 100px;
	color: white;
	text-align: center;
	font-size: 15pt;
	text-decoration: none;
}

#footer a:hover {
	color: #D8D8D8;
}

#footLinks {
	padding-top: 35px;
}

#buffer, #buffer a{
	background-color: #00c453;
	width: 100%;
	height: 40px;
	padding: 0px;
	color: white;
	position: relative;
}

#buffer span {
	padding-right: 10px;
	padding-bottom: 5px;
	font-size: 13pt;
	position: absolute;
	bottom: 1px;
	right: 0px;
}

label {
	display: block;
	font-weight: normal;
	margin-bottom: -1px;
}

input, select, textarea{
	margin-bottom: 10px;
}

div.navactions ul {
	list-style-type:none;
	overflow:hidden;
	width: 100%;
	padding:0px;
	display: table;
}

div.navactions li {
	float:left;
	text-align: center;
	margin-right: 5%;
	margin-top: 20px;
}

div.navactions a:link, 
div.navactions a:visited {
	display:table-cell;
	width:150px;
	height: 70px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#00c453;
	text-decoration:none;
	text-transform:uppercase;
	vertical-align: middle;
	border:3px outset #00E461;
	border-radius: 3px;
}
	
div.navactions a:hover, 
div.navactions a:active {
	background-color:#A4A4A4;
	border-color: #BDBDBD;
	border-style: inset;
}

.messageHead {
	background-color:rgba(110,110,110, .4);
	color: #D8D8D8;
	text-transform: uppercase;
	text-align: center;
	font-family: arial black;
	font-weight: bold;
	margin:0;
}

.messageHead h2 {
	margin: 0;
	color: white;
}

.messageHead:hover {
	cursor: hand;
}

.messageContent {
	background-color: #A4A4A4;	
	color: black;
	font-weight: normal;
	text-transform: none;
	font-family: arial;
	font-size: 20;
}

#pVol p {
	color: #A4A4A4;
	padding-left: 20px;
}

#pVol h2 {
	margin-bottom: 0;
}

#pVol:hover {
	cursor: hand;
}


#ui-datepicker-div {
	background-color:#E6E6E6;
	background: #E6E6E6;
}

.ui-datepicker-calendar {
	border-right: 0px;
	border-bottom: 0px;
}

.ui-state-highlight{
	color: #00c453 !important;
}

.ui-state-hover {
	background: #00c453 !important;
	color: white !important;
	border: 1px solid #00c453 !important;
}

.ui-state-active {
	background: #00622A !important;
	border: 1px solid #00933E !important;
}

.cake-sql-log {
	display:none;
}

.header-fixed {
    position: fixed;
    top: 0px; display:none;
    background-color:white;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

#login {
	
	width: 300px;
	display: table;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 0 20px #6E6E6E;
}

#loginIn {
	display: inline-block;
	width: 100%;
}

#loginFoot {
	background: #666 url(images/ui-bg_gloss-wave_25_333333_500x100.png) 50% 50% repeat-x;
	width: 100%;
	height: 20px;
	border-radius: 0 0 5px 5px;
}

#loginHead {
	background: #333 url(images/ui-bg_gloss-wave_25_333333_500x100.png) 50% 50% repeat-x;
	width: 100%;
	height: 45px;
	border-radius: 5px 5px 0 0;
}

#loginHead h1 {
	color: white;
	margin: 0px;
}

#loginForm {
	padding-top: 14px;
}

#loginForm label {
	text-align: left;
	padding-left: 70px;
}

#loginForm input[value="Log in"] {
	border: 3px outset #BDBDBD;
}

#loginForm input[value="Log in"]:hover {
	border-style: inset;
}

.required label:after {
	color: #e32;
	content: '*';
	display:inline;
	font-weight: bold;
}

.repButton{
	width: 75px;
	margin-bottom: 5px;
}

.error {
	color: red;
	font-weight: bold;
}

label.error {
	margin-top: -5px;
}

.chartStyle {
	margin-left:auto;
	margin-right:15%;
	float: right;
}

.chartButton {
	margin-left: 3px;
	margin-bottom: 10px;
	display:table-cell;
	width:80px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#00c453;
	text-decoration:none;
	text-transform:uppercase;
	vertical-align: middle;
	border:1px outset #00E461;
	border-radius: 3px;
}

@media (max-width: 900px){
	img { width: 100%; }
	.nav-tabs ul li { display: block;}
	.alert { float: none; width: 100%; }
	.message { width: 100%; }
	.navactions { margin-left: 0px; margin-right:0px; margin-bottom: 5px; }
	.container { width: 95%; }
	.fg-toolbar { width: 100%; }
	#footLinks { padding-top: 0px; padding-left: 5px; padding-right: 5px; }
	.search { margin-top:-5px; margin-bottom: 10px; }
	select { width: 90% !important; }
}

.hide {
	display: none;
}

.toolbar {
	display: none;
	position: fixed;
	background-color: #00c453;
	bottom: 15%;
	left: 50%;
	margin-left: 600px;
	width: 190px;
	border-radius: 10px;
	box-shadow: 0 0 12px #6E6E6E;
}

.shortcuts{
	margin: 0 auto;
	max-width: 170px;
}

.toolbar-wrap span a{
	color: black;
	margin: 3px 0 3px 0;
	list-style: none;
	font-weight: 700;
	padding: 20px 11px;
	font-size: 14px;
	background-color: #D8D8D8;
	border: 3px outset;
	border-radius: 10px;
	color: white;
	text-transform: uppercase;
	text-shadow: 0 1px #848484;
	display: inline-block;
	cursor: pointer;
	width: 100%;
	text-align: center;
	text-decoration: none;
}

.toolbar-wrap span a:hover{
	border: 3px inset;
}
.toolbar-wrap{
	width: 180px;
	margin: 0 auto;
}


@media (max-width: 1600px) {
  .toolbar {
    display: none;
  }
}

.dataTables_wrapper{
	box-shadow: 0 0 25px #6E6E6E;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	border-color: #A4A4A4;
}

.shadow{
	box-shadow: 0 0 60px #6E6E6E;
}

.chart-spacing{
	margin-top: 20px;
}

/*Datatable Gradient*/
.dataTables_wrapper .ui-toolbar{
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#292929), to(#2E2E2E), color-stop(.4,#3B3B3B),color-stop(.6,#4A4A4A));
}

.ui-state-default {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#636363), color-stop(.4,#616161),color-stop(.6,#737373)) !important;
}